build/
bin/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
*.o
*.a
*.log
core
core.*
.cc_tmp/
compile_commands.json
local*
*.pem
*.key
.env
.env.*
users.txt
servers.json
SHASUMS.txt
build-win*/

# Python
__pycache__/
*.pyc
